.container{
	width: 600px;
	margin: auto;
	margin-top: 90px;

}
.smash{
	font-size: 80px;
	font-family: times;
	font-weight: normal;
	line-height: 50px;

}

.bigs{
	font-size: 200px;
	font-family: times;
	font-weight: bold;
	line-height: 100px;
}

.believe{
	font-size: 700px;
	font-family: times;
	font-weight: bold;
	line-height: 600px;
	text-transform: uppercase;
}
.nav-container{
	height: 20px;
}


.nav-container .back{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: left;
 	
}

.nav-container .home{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray; 
    display: inline-block; 
 	margin-left: 50%;
}

.nav-container .next{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: right; 

}

