.container{
	width: 600px;
	margin: auto;
	margin-top: 90px;

}
.smash{
	font-size: 80px;
	font-family: garamond;
	font-weight: normal;
	line-height: 40px;
	text-align: justify;

}

.bigs{
	font-size: 150px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 160px;
	text-align: justify;
}

.believe{
	font-size: 500px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 600px;
	text-transform: uppercase;
	text-align: justify;
}
.nav-container{
	height: 20px;
}


.nav-container .back{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: left;
 	
}

.nav-container .home{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray; 
    display: inline-block; 
 	margin-left: 50%;
}

.nav-container .next{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: right; 

}

