#container {
 	width:50%;
}

.list {
 	float:left;
 	width:49.9%;
 	padding-bottom: 10px;
}
.list div {
	border:1px solid #000;
	
}
.nav-container{
	height: 20px;
}


.nav-container .back{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: left;
 	
}

.nav-container .home{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray; 
    display: inline-block; 
 	margin-left: 50%;
}

.nav-container .next{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: right; 

}


