.container{
	width: 900px;
	height: 700px;	
	margin: auto;
	margin-top: 100px;
}

.image{
	opacity: .4;
	display: inline-block;


}
.text{
	float: right;
	color:black;
	font-weight: bold;
	font-family: Verdana;
	font-size: 12px;
	width: 175px;
	display: inline-block;

}

body{
	background-image: url("6.jpg");
	background-repeat:no-repeat;
    background-size:100%;
}

#red-shape{
	width: 100px; 
	height: 100px;
	border-radius: 50%; 
	background: red;
	opacity: .6;
	display: inline-block;
	position: absolute;
	margin-top: 390px;
	margin-left: 150px;
}

#red-shape:hover{
	width: 200%;
	height: 200%;
	position: relative;
	background-image: url('6b.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: .9;
	margin-top: -1100px;
	margin-left: -455px;	
}