
}
.nav-container{
	height: 20px;
}


.nav-container .back{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: left;
 	
}

.nav-container .home{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray; 
    display: inline-block; 
 	margin-left: 50%;

}

.nav-container .next{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: right; 

}

div.scroll {
    width: 470px;
    height: 250px;
    overflow: scroll;
    margin: auto;
    margin-top: 60px;
}

.text {
	font-size: 100px;
	font-family: Verdana;
	font-weight: bold;
}

.small-text{
	font-size: 10px;
	font-weight: normal;

}

