.smash{
	margin-top: 90px;
	font-size: 150px;
	font-family: Verdana;
	font-weight: bold;
	line-height: 8px;
	letter-spacing: 30px;
}

.bigs{
	font-size: 200px;
	font-family: Georgia;
	font-weight: normal;
	line-height: 75px;
}

.believe{
	font-size: 700px;
	font-family: Courier;
	font-weight: bold;
	line-height: 150px;
}
.nav-container{
	height: 20px;
}


.nav-container .back{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: left;
 	
}

.nav-container .home{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray; 
    display: inline-block; 
 	margin-left: 50%;
}

.nav-container .next{
	width: 45px; 
 	height: 15px; 
 	border: 1px solid gray;
 	display: inline-block; 
 	float: right; 

}

