h1 {
	text-align: center;
	font-family: Verdana;
	font-size: 40px;
	color:#700000;
}

p {
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
	margin-top: -20px;
}
.container{
	position: fixed;
}
a:hover{
	font-weight:bold;
	color: #900000;
}

a:link{
	text-decoration: none;
	color: black;
}

div#one {
	margin: 320px;

}
div#two {
	margin: 320px;

}
div#three {
	margin: 320px;

}
div#four {
	margin: 320px;

}